In [1]:
import pandas as pd

### National Survey on Drug Use and Health 2002 to 2014

https://www.icpsr.umich.edu/web/RCMD/search/studies?start=0&sort=score%20desc%2CTITLE_SORT%20asc&CLASSIF_FACET=RCMD.V.&ARCHIVE=RCMD&PUBLISH_STATUS=PUBLISHED&TIMEPERIOD_NEW=%5B2012%20TO%202022%5D&rows=50&q=Behavioral%20Risk%20Factor%20Surveillance%20System

In [3]:
drug = pd.read_stata('2012.dta', convert_categoricals=False) #2012 example

In [4]:
#contain race and sex column

In [5]:
drug.shape

(55268, 3120)

In [6]:
drug

,CASEID,QUESTID2,CIGEVER,CIGOFRSM,CIGWILYR,CIGTRY,CIGYFU,CIGMFU,CIGREC,CIG30USE,...,IIEMPSTY,II2EMSTY,EMPSTAT4,IIEMPST4,II2EMST4,PDEN00,COUTYP2,ANALWT_C,VESTR,VEREP
0,1,50886467,2,4,4,991,9991,91,91,91,...,1,1,99,9,9,2,2,1275.60,30054,2
1,2,13766883,2,99,99,991,9991,91,91,91,...,1,1,1,1,1,2,2,5191.07,30031,1
2,3,17772877,2,99,99,991,9991,91,91,91,...,1,1,1,1,1,3,3,419.74,30056,2
3,4,45622817,1,99,99,13,9999,99,2,93,...,1,1,2,1,1,2,2,1449.30,30054,1
4,5,17239390,1,99,99,11,9999,99,4,93,...,1,1,1,1,1,1,1,15344.29,30012,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55263,55264,54947473,2,99,99,991,9991,91,91,91,...,1,1,1,1,1,1,1,1289.36,30032,2
55264,55265,67706608,2,4,4,991,9991,91,91,91,...,9,9,99,9,9,2,1,116.92,30050,2
55265,55266,47284524,2,99,99,991,9991,91,91,91,...,1,1,2,1,1,1,1,1276.95,30018,1
55266,55267,32935928,1,99,99,13,9999,99,1,4,...,1,1,1,1,1,2,2,8072.38,30030,2
55267,55268,10816634,1,99,99,18,9999,99,4,93,...,3,3,1,3,3,1,1,1016.92,30002,2

In [7]:
drug.shape

(55268, 3120)

# Creating Religious Features

In [8]:
# Column names of Religious Features
relgion_df = drug[['SNRLGSVC','SNRLGIMP','SNRLDCSN','SNRLFRND']]

# Renaming Religious Features to be more readeable
religion_df = relgion_df.rename({'SNRLGSVC':'Past_12_months',
                                 'SNRLGIMP':'Important',
                                 'SNRLDCSN':'Influence',
                                 'SNRLFRND':'Friends_Share'},axis=1)
religion_df.shape

(55268, 4)

In [9]:
# Values in dataset we want to drop from df 
drop_values = [94,97,98,99]

# dropping all rows in df that contain any values in drop_values
religion_df = religion_df[(religion_df.Past_12_months.isin(drop_values) == False) & 
            (religion_df.Important.isin(drop_values) == False) & 
            (religion_df.Influence.isin(drop_values) == False) & 
            (religion_df.Friends_Share.isin(drop_values) == False)]

religion_df.shape

(36992, 4)