In [1]:
import pandas as pd
import numpy as np

reading in cleaned religiosity data.

In [92]:
drug_2010 = pd.read_stata('data/2010_data.dta', convert_categoricals=False)
drug_2011 = pd.read_stata('data/2011.dta', convert_categoricals=False)
drug_2012 = pd.read_stata('data/2012.dta', convert_categoricals=False)
drug_2013 = pd.read_stata('data/2013.dta', convert_categoricals=False)
drug_2014 = pd.read_stata('data/2014.dta', convert_categoricals=False)

In [2]:
drug_2012 = pd.read_stata('data/2012.dta', convert_categoricals=False)
religion_2012 = pd.read_csv('data/religion_2012.csv')

### Demographics Columns (everything is categorical)

- CATAG6 - AGE CATEGORY RECODE (6 LEVELS)
- HEALTH - OVERALL HEALTH / HEALTH2: OVERALL HEALTH RECODE
- IRSEX - GENDER
- IRMARIT - MARITAL STATUS
- EDUCCAT2 - EDUCATION LEVEL (MORE GENERAL)
- NEWRACE2 - RACE
- EMPSTATY - IMPUTATION REVISED EMPLOYMENT STATUS

In [94]:
demographics_dict = {
'EMPSTATY_dic' : {1: 'E_full_time', 
                2: 'E_part_time', 
                3: 'E_Unemployed', 
                4: 'E_Other', 
                5: 'E_youth'},
'NEWRACE2_dic' : {1: 'White', 
                2: 'Black/Afr_Am', 
                3: 'Native_Am/AK_Native', 
                4: 'Native_HI/Other_Pac_Isl', 
                5: 'Asian', 
                6: 'more_than_one_race', 
                7: 'Hispanic'},
'EDUCCAT2_dic' : {1: 'Less_than_high_school', 
                2: 'High_school_graduate', 
                3: 'Some_college', 
                4: 'College_graduate', 
                5: 'Edu_youth'},
'IRMARIT_dic' : {1: 'Married', 
               2: 'Widowed', 
               3: 'Divorced_Separated', 
               4: "Not_Married"},
'IRSEX_dic' : {1: 'Male', 2: 'Female'},
'HEALTH_dic' : {1: 'H_Excellent', 2: 'H_Very_good', 3: 'H_Good', 4: 'H_Fair', 5: 'H_Poor'}, #94 dont know, 97 refused
'CATAG6_dic' : {1: 'A-12-17', 2: 'A-18-25', 3: 'A-26-34', 4: 'A-35-49', 5: 'A-50-64', 6: 'A-65'}
}

In [95]:
demographics_2012 = drug_2012[['CASEID', 'CATAG6', 'HEALTH', 'IRSEX', 'IRMARIT', 'EDUCCAT2', 'NEWRACE2', 'EMPSTATY']]

In [96]:
for col in demographics_2012.columns:
    if col != 'CASEID':
        demographics_2012[col] = demographics_2012[col].replace(demographics_dict[col+'_dic'])

/tmp/ipykernel_347/3693278204.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  demographics_2012[col] = demographics_2012[col].replace(demographics_dict[col+'_dic'])

In [97]:
demographics_2012.head()

,CASEID,CATAG6,HEALTH,IRSEX,IRMARIT,EDUCCAT2,NEWRACE2,EMPSTATY
0,1,A-12-17,H_Excellent,Female,Not_Married,Edu_youth,White,E_Unemployed
1,2,A-50-64,H_Excellent,Female,Married,Some_college,White,E_full_time
2,3,A-18-25,H_Very_good,Male,Not_Married,High_school_graduate,White,E_full_time
3,4,A-18-25,H_Very_good,Male,Not_Married,Some_college,White,E_part_time
4,5,A-65,H_Very_good,Male,Widowed,College_graduate,White,E_full_time

In [98]:
for col in demographics_2012.columns:
    print(demographics_2012[col].value_counts())

1        1
36838    1
36840    1
36841    1
36842    1
        ..
18426    1
18427    1
18428    1
18429    1
55268    1
Name: CASEID, Length: 55268, dtype: int64
A-18-25    18615
A-12-17    17399
A-35-49     7391
A-26-34     5492
A-50-64     3923
A-65        2448
Name: CATAG6, dtype: int64
H_Very_good    22083
H_Excellent    15036
H_Good         13623
H_Fair          3853
H_Poor           665
94                 7
97                 1
Name: HEALTH, dtype: int64
Female    28726
Male      26542
Name: IRSEX, dtype: int64
Not_Married           29238
Married               13110
99                     8347
Divorced_Separated     3596
Widowed                 977
Name: IRMARIT, dtype: int64
Edu_youth                17399
High_school_graduate     12374
Some_college             11146
College_graduate          8408
Less_than_high_school     5941
Name: EDUCCAT2, dtype: int64
White                      33339
Hispanic                    9576
Black/Afr_Am                7153
Asian                       2167
more_than_one_race          1947
Native_Am/AK_Native          770
Native_HI/Other_Pac_Isl      316
Name: NEWRACE2, dtype: int64
E_full_time     18265
E_Other         14727
E_part_time      9275
99               8347
E_Unemployed     4654
Name: EMPSTATY, dtype: int64

### Missingness: 8 (94, 97) in HEALTH, 8347 (99) in IRMARIT, 8347 (99) in EMPSTATY

In [99]:
#only run this once, it will overwrite the df
fill_values_health = np.random.choice(demographics_2012[(demographics_2012['HEALTH'] != 94) & (demographics_2012['HEALTH'] != 97)]['HEALTH'], 8)
fill_values_IRMARIT = np.random.choice(demographics_2012[demographics_2012['IRMARIT'] != 99]['IRMARIT'], 8347)
fill_values_EMPSTATY = np.random.choice(demographics_2012[demographics_2012['EMPSTATY'] != 99]['EMPSTATY'], 8347)

demographics_2012.loc[(demographics_2012['HEALTH'] == 94) | (demographics_2012['HEALTH'] == 97), 'HEALTH'] = fill_values_health
demographics_2012.loc[demographics_2012['IRMARIT'] == 99, 'IRMARIT'] = fill_values_IRMARIT
demographics_2012.loc[demographics_2012['EMPSTATY'] == 99, 'EMPSTATY'] = fill_values_EMPSTATY

/opt/conda/lib/python3.9/site-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [100]:
demographics_2012.columns = ['CASEID', 'Age', 'Health', 'Sex', 'Marriage', 'Education', 'Race', 'Employment']

In [101]:
demographics_2012 = demographics_2012.set_index('CASEID')

In [102]:
demographics_2012

,Age,Health,Sex,Marriage,Education,Race,Employment
CASEID,,,,,,,
1,A-12-17,H_Excellent,Female,Not_Married,Edu_youth,White,E_Unemployed
2,A-50-64,H_Excellent,Female,Married,Some_college,White,E_full_time
3,A-18-25,H_Very_good,Male,Not_Married,High_school_graduate,White,E_full_time
4,A-18-25,H_Very_good,Male,Not_Married,Some_college,White,E_part_time
5,A-65,H_Very_good,Male,Widowed,College_graduate,White,E_full_time
...,...,...,...,...,...,...,...
55264,A-18-25,H_Very_good,Female,Not_Married,High_school_graduate,Hispanic,E_full_time
55265,A-12-17,H_Very_good,Female,Not_Married,Edu_youth,Hispanic,E_full_time
55266,A-18-25,H_Very_good,Male,Not_Married,Less_than_high_school,White,E_part_time
55267,A-35-49,H_Excellent,Male,Divorced_Separated,College_graduate,White,E_full_time
55268,A-35-49,H_Fair,Male,Not_Married,Less_than_high_school,Hispanic,E_full_time

In [103]:
religion_2012.columns = ['CASEID', 'religion_services', 'religion_important', 'religion_influence_decision', 'religion_share_important']

In [104]:
religion_demographics_2012 = demographics_2012.merge(religion_2012, left_on='CASEID', right_on='CASEID', how='inner')

In [105]:
religion_demographics_2012.to_csv('data/religion_demographics_2012.csv')