In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [15]:
drug12 = pd.read_stata('data/2012data.dta', convert_categoricals=False)

In [16]:
drug_df = drug12[["TOBFLAG", "TOBYR", "ALCFLAG", "ALCYR", "MRJFLAG", "MRJYR", "COCFLAG", "COCYR", "CRKFLAG", "CRKYR",
       "HERFLAG", "HERYR", "HALFLAG", "HALYR", "INHFLAG", "INHYR", "ANLFLAG", "ANLYR", "TRQFLAG",
       "TRQYR", "STMFLAG", "STMYR", "MTHFLAG", "MTHYR", "SEDFLAG", "SEDYR", "SUMFLAG", "SUMYR", "SUMMON", "SUMAGE",
       "SUMYFU", "IEMFLAG", "SNRLGIMP", "SNRLGSVC", 'SNRLDCSN', 'SNRLFRND']]

In [17]:
#dropping columns and renaming values

drop_values = [94,97,98,99]

drug_df = drug_df[(drug_df.SNRLGSVC.isin(drop_values) == False) & 
            (drug_df.SNRLGIMP.isin(drop_values) == False) & 
            (drug_df.SNRLDCSN.isin(drop_values) == False) & 
            (drug_df.SNRLFRND.isin(drop_values) == False)]

drug_df = drug_df.rename({'SNRLGSVC':'Past_12_Months','SNRLGIMP':'Importance','SNRLDCSN':'Influence','SNRLFRND':'Friends_Share',
                        'SUMFLAG': 'Drug_Ever_Used', "SUMYR": "Past_Year_Use", "SUMAGE":"Age_First_Used", 
                         "IEMFLAG" : "Drug_Not_Marij_Ever_Used", "IEMTR": "Drug_Not_Marij_Past_Year_Use", "SUMYFU" : "Year_First_Use", "SUMMON": "Past_Month_Use" },axis=1)

In [18]:
drug_df.head()

,TOBFLAG,TOBYR,ALCFLAG,ALCYR,MRJFLAG,MRJYR,COCFLAG,COCYR,CRKFLAG,CRKYR,...,Drug_Ever_Used,Past_Year_Use,Past_Month_Use,Age_First_Used,Year_First_Use,Drug_Not_Marij_Ever_Used,Importance,Past_12_Months,Influence,Friends_Share
1,0,0,1,1,0,0,0,0,0,0,...,0,0,0,991,9999,0,3,2,3,2
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,991,9999,0,4,6,4,2
3,1,1,1,1,1,1,1,0,0,0,...,1,1,1,14,2005,1,3,4,3,1
4,1,0,1,1,0,0,0,0,0,0,...,0,0,0,991,9999,0,1,2,1,1
5,0,0,1,1,0,0,0,0,0,0,...,0,0,0,991,9999,0,3,3,4,2

In [29]:
drug_df.groupby(['Importance']).count()

,TOBFLAG,TOBYR,ALCFLAG,ALCYR,MRJFLAG,MRJYR,COCFLAG,COCYR,CRKFLAG,CRKYR,...,SEDYR,Drug_Ever_Used,Past_Year_Use,Past_Month_Use,Age_First_Used,Year_First_Use,Drug_Not_Marij_Ever_Used,Past_12_Months,Influence,Friends_Share
Importance,,,,,,,,,,,,,,,,,,,,,
1,5925,5925,5925,5925,5925,5925,5925,5925,5925,5925,...,5925,5925,5925,5925,5925,5925,5925,5925,5925,5925
2,5450,5450,5450,5450,5450,5450,5450,5450,5450,5450,...,5450,5450,5450,5450,5450,5450,5450,5450,5450,5450
3,13372,13372,13372,13372,13372,13372,13372,13372,13372,13372,...,13372,13372,13372,13372,13372,13372,13372,13372,13372,13372
4,12245,12245,12245,12245,12245,12245,12245,12245,12245,12245,...,12245,12245,12245,12245,12245,12245,12245,12245,12245,12245

In [28]:
drug_df.groupby(['Importance', "Drug_Ever_Used"]).count()

                           TOBFLAG  TOBYR  ALCFLAG  ALCYR  MRJFLAG  MRJYR  \
Importance Drug_Ever_Used
1          0                  2025   2025     2025   2025     2025   2025
           1                  3900   3900     3900   3900     3900   3900
2          0                  1701   1701     1701   1701     1701   1701
           1                  3749   3749     3749   3749     3749   3749
3          0                  5717   5717     5717   5717     5717   5717
           1                  7655   7655     7655   7655     7655   7655
4          0                  6865   6865     6865   6865     6865   6865
           1                  5380   5380     5380   5380     5380   5380

                           COCFLAG  COCYR  CRKFLAG  CRKYR  ...  SEDFLAG  \
Importance Drug_Ever_Used                                  ...
1          0                  2025   2025     2025   2025  ...     2025
           1                  3900   3900     3900   3900  ...     3900
2          0                  1701   1701     1701   1701  ...     1701
           1                  3749   3749     3749   3749  ...     3749
3          0                  5717   5717     5717   5717  ...     5717
           1                  7655   7655     7655   7655  ...     7655
4          0                  6865   6865     6865   6865  ...     6865
           1                  5380   5380     5380   5380  ...     5380

                           SEDYR  Past_Year_Use  Past_Month_Use  \
Importance Drug_Ever_Used
1          0                2025           2025            2025
           1                3900           3900            3900
2          0                1701           1701            1701
           1                3749           3749            3749
3          0                5717           5717            5717
           1                7655           7655            7655
4          0                6865           6865            6865
           1                5380           5380            5380

                           Age_First_Used  Year_First_Use  \
Importance Drug_Ever_Used
1          0                         2025            2025
           1                         3900            3900
2          0                         1701            1701
           1                         3749            3749
3          0                         5717            5717
           1                         7655            7655
4          0                         6865            6865
           1                         5380            5380

                           Drug_Not_Marij_Ever_Used  Past_12_Months  \
Importance Drug_Ever_Used
1          0                                   2025            2025
           1                                   3900            3900
2          0                                   1701            1701
           1                                   3749            3749
3          0                                   5717            5717
           1                                   7655            7655
4          0                                   6865            6865
           1                                   5380            5380

                           Influence  Friends_Share
Importance Drug_Ever_Used
1          0                    2025           2025
           1                    3900           3900
2          0                    1701           1701
           1                    3749           3749
3          0                    5717           5717
           1                    7655           7655
4          0                    6865           6865
           1                    5380           5380

[8 rows x 34 columns]

In [33]:
pd.pivot_table(drug_df, values = "Drug_Ever_Used", aggfunc = "count", columns = "Importance")

Importance         1     2      3      4
Drug_Ever_Used  5925  5450  13372  12245

In [39]:
pd.pivot_table(drug_df, index = "Importance", values = "Influence", aggfunc = "count", columns = ["Drug_Ever_Used"], margins = True)

Drug_Ever_Used      0      1    All
Importance
1                2025   3900   5925
2                1701   3749   5450
3                5717   7655  13372
4                6865   5380  12245
All             16308  20684  36992

In [56]:
table = pd.pivot_table(drug_df, index = "Importance", values = "Influence", aggfunc = "count", columns = ["Drug_Ever_Used"], margins = True)
table[0] = table[0]/table["All"]["All"]
table[1] = table[1]/table["All"]["All"]
table

Drug_Ever_Used         0         1    All
Importance
1               0.054742  0.105428   5925
2               0.045983  0.101346   5450
3               0.154547  0.206937  13372
4               0.185581  0.145437  12245
All             0.440852  0.559148  36992

In [53]:
table['All']['All']

36992

In [41]:
drug_df.groupby('Importance')['Drug_Ever_Used'].value_counts(normalize=True).reset_index(name='p')

   Importance  Drug_Ever_Used         p
0           1               1  0.658228
1           1               0  0.341772
2           2               1  0.687890
3           2               0  0.312110
4           3               1  0.572465
5           3               0  0.427535
6           4               0  0.560637
7           4               1  0.439363

In [44]:
drug_df.groupby('Influence')['Drug_Ever_Used'].value_counts(normalize=True).reset_index(name='p')

   Influence  Drug_Ever_Used         p
0          1               1  0.677030
1          1               0  0.322970
2          2               1  0.659831
3          2               0  0.340169
4          3               1  0.558962
5          3               0  0.441038
6          4               0  0.578337
7          4               1  0.421663

In [45]:
drug_df.groupby('Friends_Share')['Drug_Ever_Used'].value_counts(normalize=True).reset_index(name='p')

   Friends_Share  Drug_Ever_Used         p
0              1               1  0.668169
1              1               0  0.331831
2              2               1  0.581512
3              2               0  0.418488
4              3               0  0.583246
5              3               1  0.416754
6              4               0  0.620796
7              4               1  0.379204

In [46]:
drug_df.groupby('Past_12_Months')['Drug_Ever_Used'].value_counts(normalize=True).reset_index(name='p')

    Past_12_Months  Drug_Ever_Used         p
0                1               1  0.636589
1                1               0  0.363411
2                2               1  0.616825
3                2               0  0.383175
4                3               1  0.581916
5                3               0  0.418084
6                4               1  0.545656
7                4               0  0.454344
8                5               0  0.568846
9                5               1  0.431154
10               6               0  0.654953
11               6               1  0.345047

In [59]:
drug_df.groupby('Importance')['Drug_Not_Marij_Ever_Used'].value_counts(normalize=True).reset_index(name='p')

   Importance  Drug_Not_Marij_Ever_Used         p
0           1                         0  0.546835
1           1                         1  0.453165
2           2                         0  0.549725
3           2                         1  0.450275
4           3                         0  0.656745
5           3                         1  0.343255
6           4                         0  0.745529
7           4                         1  0.254471

In [60]:
drug_df.groupby('Influence')['Drug_Not_Marij_Ever_Used'].value_counts(normalize=True).reset_index(name='p')

   Influence  Drug_Not_Marij_Ever_Used         p
0          1                         0  0.533183
1          1                         1  0.466817
2          2                         0  0.582315
3          2                         1  0.417685
4          3                         0  0.663841
5          3                         1  0.336159
6          4                         0  0.756867
7          4                         1  0.243133

In [61]:
drug_df.groupby('Past_12_Months')['Drug_Not_Marij_Ever_Used'].value_counts(normalize=True).reset_index(name='p')

    Past_12_Months  Drug_Not_Marij_Ever_Used         p
0                1                         0  0.583611
1                1                         1  0.416389
2                2                         0  0.611186
3                2                         1  0.388814
4                3                         0  0.656410
5                3                         1  0.343590
6                4                         0  0.677192
7                4                         1  0.322808
8                5                         0  0.766806
9                5                         1  0.233194
10               6                         0  0.798349
11               6                         1  0.201651

In [62]:
drug_df.groupby('Friends_Share')['Drug_Not_Marij_Ever_Used'].value_counts(normalize=True).reset_index(name='p')

   Friends_Share  Drug_Not_Marij_Ever_Used         p
0              1                         0  0.558976
1              1                         1  0.441024
2              2                         0  0.650194
3              2                         1  0.349806
4              3                         0  0.760881
5              3                         1  0.239119
6              4                         0  0.761153
7              4                         1  0.238847

In [76]:
drug_df.groupby(["Age_First_Used","Drug_Not_Marij_Ever_Used"]).count().drop([991])

,,TOBFLAG,TOBYR,ALCFLAG,ALCYR,MRJFLAG,MRJYR,COCFLAG,COCYR,CRKFLAG,CRKYR,...,SEDFLAG,SEDYR,Drug_Ever_Used,Past_Year_Use,Past_Month_Use,Year_First_Use,Importance,Past_12_Months,Influence,Friends_Share
Age_First_Used,Drug_Not_Marij_Ever_Used,,,,,,,,,,,,,,,,,,,,,
1,1,23,23,23,23,23,23,23,23,23,23,...,23,23,23,23,23,23,23,23,23,23
2,1,23,23,23,23,23,23,23,23,23,23,...,23,23,23,23,23,23,23,23,23,23
3,1,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
4,1,6,6,6,6,6,6,6,6,6,6,...,6,6,6,6,6,6,6,6,6,6
5,0,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
66,1,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
67,1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
68,1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
69,0,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2

In [79]:
drug_df.groupby(["Importance","COCFLAG"]).count()

                    TOBFLAG  TOBYR  ALCFLAG  ALCYR  MRJFLAG  MRJYR  COCYR  \
Importance COCFLAG
1          0           4611   4611     4611   4611     4611   4611   4611
           1           1314   1314     1314   1314     1314   1314   1314
2          0           4304   4304     4304   4304     4304   4304   4304
           1           1146   1146     1146   1146     1146   1146   1146
3          0          11362  11362    11362  11362    11362  11362  11362
           1           2010   2010     2010   2010     2010   2010   2010
4          0          11029  11029    11029  11029    11029  11029  11029
           1           1216   1216     1216   1216     1216   1216   1216

                    CRKFLAG  CRKYR  HERFLAG  ...  SEDYR  Drug_Ever_Used  \
Importance COCFLAG                           ...
1          0           4611   4611     4611  ...   4611            4611
           1           1314   1314     1314  ...   1314            1314
2          0           4304   4304     4304  ...   4304            4304
           1           1146   1146     1146  ...   1146            1146
3          0          11362  11362    11362  ...  11362           11362
           1           2010   2010     2010  ...   2010            2010
4          0          11029  11029    11029  ...  11029           11029
           1           1216   1216     1216  ...   1216            1216

                    Past_Year_Use  Past_Month_Use  Age_First_Used  \
Importance COCFLAG
1          0                 4611            4611            4611
           1                 1314            1314            1314
2          0                 4304            4304            4304
           1                 1146            1146            1146
3          0                11362           11362           11362
           1                 2010            2010            2010
4          0                11029           11029           11029
           1                 1216            1216            1216

                    Year_First_Use  Drug_Not_Marij_Ever_Used  Past_12_Months  \
Importance COCFLAG
1          0                  4611                      4611            4611
           1                  1314                      1314            1314
2          0                  4304                      4304            4304
           1                  1146                      1146            1146
3          0                 11362                     11362           11362
           1                  2010                      2010            2010
4          0                 11029                     11029           11029
           1                  1216                      1216            1216

                    Influence  Friends_Share
Importance COCFLAG
1          0             4611           4611
           1             1314           1314
2          0             4304           4304
           1             1146           1146
3          0            11362          11362
           1             2010           2010
4          0            11029          11029
           1             1216           1216

[8 rows x 34 columns]

In [80]:
drug_df.groupby(["Importance","MRJFLAG"]).count()

                    TOBFLAG  TOBYR  ALCFLAG  ALCYR  MRJYR  COCFLAG  COCYR  \
Importance MRJFLAG
1          0           2297   2297     2297   2297   2297     2297   2297
           1           3628   3628     3628   3628   3628     3628   3628
2          0           1948   1948     1948   1948   1948     1948   1948
           1           3502   3502     3502   3502   3502     3502   3502
3          0           6391   6391     6391   6391   6391     6391   6391
           1           6981   6981     6981   6981   6981     6981   6981
4          0           7573   7573     7573   7573   7573     7573   7573
           1           4672   4672     4672   4672   4672     4672   4672

                    CRKFLAG  CRKYR  HERFLAG  ...  SEDYR  Drug_Ever_Used  \
Importance MRJFLAG                           ...
1          0           2297   2297     2297  ...   2297            2297
           1           3628   3628     3628  ...   3628            3628
2          0           1948   1948     1948  ...   1948            1948
           1           3502   3502     3502  ...   3502            3502
3          0           6391   6391     6391  ...   6391            6391
           1           6981   6981     6981  ...   6981            6981
4          0           7573   7573     7573  ...   7573            7573
           1           4672   4672     4672  ...   4672            4672

                    Past_Year_Use  Past_Month_Use  Age_First_Used  \
Importance MRJFLAG
1          0                 2297            2297            2297
           1                 3628            3628            3628
2          0                 1948            1948            1948
           1                 3502            3502            3502
3          0                 6391            6391            6391
           1                 6981            6981            6981
4          0                 7573            7573            7573
           1                 4672            4672            4672

                    Year_First_Use  Drug_Not_Marij_Ever_Used  Past_12_Months  \
Importance MRJFLAG
1          0                  2297                      2297            2297
           1                  3628                      3628            3628
2          0                  1948                      1948            1948
           1                  3502                      3502            3502
3          0                  6391                      6391            6391
           1                  6981                      6981            6981
4          0                  7573                      7573            7573
           1                  4672                      4672            4672

                    Influence  Friends_Share
Importance MRJFLAG
1          0             2297           2297
           1             3628           3628
2          0             1948           1948
           1             3502           3502
3          0             6391           6391
           1             6981           6981
4          0             7573           7573
           1             4672           4672

[8 rows x 34 columns]

In [81]:
drug_df.groupby(["Importance","TOBFLAG"]).count()

                    TOBYR  ALCFLAG  ALCYR  MRJFLAG  MRJYR  COCFLAG  COCYR  \
Importance TOBFLAG
1          0         1361     1361   1361     1361   1361     1361   1361
           1         4564     4564   4564     4564   4564     4564   4564
2          0         1164     1164   1164     1164   1164     1164   1164
           1         4286     4286   4286     4286   4286     4286   4286
3          0         3591     3591   3591     3591   3591     3591   3591
           1         9781     9781   9781     9781   9781     9781   9781
4          0         4646     4646   4646     4646   4646     4646   4646
           1         7599     7599   7599     7599   7599     7599   7599

                    CRKFLAG  CRKYR  HERFLAG  ...  SEDYR  Drug_Ever_Used  \
Importance TOBFLAG                           ...
1          0           1361   1361     1361  ...   1361            1361
           1           4564   4564     4564  ...   4564            4564
2          0           1164   1164     1164  ...   1164            1164
           1           4286   4286     4286  ...   4286            4286
3          0           3591   3591     3591  ...   3591            3591
           1           9781   9781     9781  ...   9781            9781
4          0           4646   4646     4646  ...   4646            4646
           1           7599   7599     7599  ...   7599            7599

                    Past_Year_Use  Past_Month_Use  Age_First_Used  \
Importance TOBFLAG
1          0                 1361            1361            1361
           1                 4564            4564            4564
2          0                 1164            1164            1164
           1                 4286            4286            4286
3          0                 3591            3591            3591
           1                 9781            9781            9781
4          0                 4646            4646            4646
           1                 7599            7599            7599

                    Year_First_Use  Drug_Not_Marij_Ever_Used  Past_12_Months  \
Importance TOBFLAG
1          0                  1361                      1361            1361
           1                  4564                      4564            4564
2          0                  1164                      1164            1164
           1                  4286                      4286            4286
3          0                  3591                      3591            3591
           1                  9781                      9781            9781
4          0                  4646                      4646            4646
           1                  7599                      7599            7599

                    Influence  Friends_Share
Importance TOBFLAG
1          0             1361           1361
           1             4564           4564
2          0             1164           1164
           1             4286           4286
3          0             3591           3591
           1             9781           9781
4          0             4646           4646
           1             7599           7599

[8 rows x 34 columns]

In [82]:
drug_df.groupby(["Importance","CRKFLAG"]).count()

                    TOBFLAG  TOBYR  ALCFLAG  ALCYR  MRJFLAG  MRJYR  COCFLAG  \
Importance CRKFLAG
1          0           5632   5632     5632   5632     5632   5632     5632
           1            293    293      293    293      293    293      293
2          0           5198   5198     5198   5198     5198   5198     5198
           1            252    252      252    252      252    252      252
3          0          12903  12903    12903  12903    12903  12903    12903
           1            469    469      469    469      469    469      469
4          0          11893  11893    11893  11893    11893  11893    11893
           1            352    352      352    352      352    352      352

                    COCYR  CRKYR  HERFLAG  ...  SEDYR  Drug_Ever_Used  \
Importance CRKFLAG                         ...
1          0         5632   5632     5632  ...   5632            5632
           1          293    293      293  ...    293             293
2          0         5198   5198     5198  ...   5198            5198
           1          252    252      252  ...    252             252
3          0        12903  12903    12903  ...  12903           12903
           1          469    469      469  ...    469             469
4          0        11893  11893    11893  ...  11893           11893
           1          352    352      352  ...    352             352

                    Past_Year_Use  Past_Month_Use  Age_First_Used  \
Importance CRKFLAG
1          0                 5632            5632            5632
           1                  293             293             293
2          0                 5198            5198            5198
           1                  252             252             252
3          0                12903           12903           12903
           1                  469             469             469
4          0                11893           11893           11893
           1                  352             352             352

                    Year_First_Use  Drug_Not_Marij_Ever_Used  Past_12_Months  \
Importance CRKFLAG
1          0                  5632                      5632            5632
           1                   293                       293             293
2          0                  5198                      5198            5198
           1                   252                       252             252
3          0                 12903                     12903           12903
           1                   469                       469             469
4          0                 11893                     11893           11893
           1                   352                       352             352

                    Influence  Friends_Share
Importance CRKFLAG
1          0             5632           5632
           1              293            293
2          0             5198           5198
           1              252            252
3          0            12903          12903
           1              469            469
4          0            11893          11893
           1              352            352

[8 rows x 34 columns]

In [86]:
drug_df.groupby(["Importance","HERFLAG"]).count()

                    TOBFLAG  TOBYR  ALCFLAG  ALCYR  MRJFLAG  MRJYR  COCFLAG  \
Importance HERFLAG
1          0           5699   5699     5699   5699     5699   5699     5699
           1            226    226      226    226      226    226      226
2          0           5291   5291     5291   5291     5291   5291     5291
           1            159    159      159    159      159    159      159
3          0          13136  13136    13136  13136    13136  13136    13136
           1            236    236      236    236      236    236      236
4          0          12098  12098    12098  12098    12098  12098    12098
           1            147    147      147    147      147    147      147

                    COCYR  CRKFLAG  CRKYR  ...  SEDYR  Drug_Ever_Used  \
Importance HERFLAG                         ...
1          0         5699     5699   5699  ...   5699            5699
           1          226      226    226  ...    226             226
2          0         5291     5291   5291  ...   5291            5291
           1          159      159    159  ...    159             159
3          0        13136    13136  13136  ...  13136           13136
           1          236      236    236  ...    236             236
4          0        12098    12098  12098  ...  12098           12098
           1          147      147    147  ...    147             147

                    Past_Year_Use  Past_Month_Use  Age_First_Used  \
Importance HERFLAG
1          0                 5699            5699            5699
           1                  226             226             226
2          0                 5291            5291            5291
           1                  159             159             159
3          0                13136           13136           13136
           1                  236             236             236
4          0                12098           12098           12098
           1                  147             147             147

                    Year_First_Use  Drug_Not_Marij_Ever_Used  Past_12_Months  \
Importance HERFLAG
1          0                  5699                      5699            5699
           1                   226                       226             226
2          0                  5291                      5291            5291
           1                   159                       159             159
3          0                 13136                     13136           13136
           1                   236                       236             236
4          0                 12098                     12098           12098
           1                   147                       147             147

                    Influence  Friends_Share
Importance HERFLAG
1          0             5699           5699
           1              226            226
2          0             5291           5291
           1              159            159
3          0            13136          13136
           1              236            236
4          0            12098          12098
           1              147            147

[8 rows x 34 columns]

In [85]:
drug_df.groupby(["Influence","HERFLAG"]).count()

                   TOBFLAG  TOBYR  ALCFLAG  ALCYR  MRJFLAG  MRJYR  COCFLAG  \
Influence HERFLAG
1         0           5968   5968     5968   5968     5968   5968     5968
          1            240    240      240    240      240    240      240
2         0           6687   6687     6687   6687     6687   6687     6687
          1            189    189      189    189      189    189      189
3         0          13344  13344    13344  13344    13344  13344    13344
          1            224    224      224    224      224    224      224
4         0          10225  10225    10225  10225    10225  10225    10225
          1            115    115      115    115      115    115      115

                   COCYR  CRKFLAG  CRKYR  ...  SEDYR  Drug_Ever_Used  \
Influence HERFLAG                         ...
1         0         5968     5968   5968  ...   5968            5968
          1          240      240    240  ...    240             240
2         0         6687     6687   6687  ...   6687            6687
          1          189      189    189  ...    189             189
3         0        13344    13344  13344  ...  13344           13344
          1          224      224    224  ...    224             224
4         0        10225    10225  10225  ...  10225           10225
          1          115      115    115  ...    115             115

                   Past_Year_Use  Past_Month_Use  Age_First_Used  \
Influence HERFLAG
1         0                 5968            5968            5968
          1                  240             240             240
2         0                 6687            6687            6687
          1                  189             189             189
3         0                13344           13344           13344
          1                  224             224             224
4         0                10225           10225           10225
          1                  115             115             115

                   Year_First_Use  Drug_Not_Marij_Ever_Used  Importance  \
Influence HERFLAG
1         0                  5968                      5968        5968
          1                   240                       240         240
2         0                  6687                      6687        6687
          1                   189                       189         189
3         0                 13344                     13344       13344
          1                   224                       224         224
4         0                 10225                     10225       10225
          1                   115                       115         115

                   Past_12_Months  Friends_Share
Influence HERFLAG
1         0                  5968           5968
          1                   240            240
2         0                  6687           6687
          1                   189            189
3         0                 13344          13344
          1                   224            224
4         0                 10225          10225
          1                   115            115

[8 rows x 34 columns]

In [87]:
drug_df.groupby(["Influence","MTHFLAG"]).count()

                   TOBFLAG  TOBYR  ALCFLAG  ALCYR  MRJFLAG  MRJYR  COCFLAG  \
Influence MTHFLAG
1         0           5914   5914     5914   5914     5914   5914     5914
          1            294    294      294    294      294    294      294
2         0           6584   6584     6584   6584     6584   6584     6584
          1            292    292      292    292      292    292      292
3         0          13082  13082    13082  13082    13082  13082    13082
          1            486    486      486    486      486    486      486
4         0          10088  10088    10088  10088    10088  10088    10088
          1            252    252      252    252      252    252      252

                   COCYR  CRKFLAG  CRKYR  ...  SEDYR  Drug_Ever_Used  \
Influence MTHFLAG                         ...
1         0         5914     5914   5914  ...   5914            5914
          1          294      294    294  ...    294             294
2         0         6584     6584   6584  ...   6584            6584
          1          292      292    292  ...    292             292
3         0        13082    13082  13082  ...  13082           13082
          1          486      486    486  ...    486             486
4         0        10088    10088  10088  ...  10088           10088
          1          252      252    252  ...    252             252

                   Past_Year_Use  Past_Month_Use  Age_First_Used  \
Influence MTHFLAG
1         0                 5914            5914            5914
          1                  294             294             294
2         0                 6584            6584            6584
          1                  292             292             292
3         0                13082           13082           13082
          1                  486             486             486
4         0                10088           10088           10088
          1                  252             252             252

                   Year_First_Use  Drug_Not_Marij_Ever_Used  Importance  \
Influence MTHFLAG
1         0                  5914                      5914        5914
          1                   294                       294         294
2         0                  6584                      6584        6584
          1                   292                       292         292
3         0                 13082                     13082       13082
          1                   486                       486         486
4         0                 10088                     10088       10088
          1                   252                       252         252

                   Past_12_Months  Friends_Share
Influence MTHFLAG
1         0                  5914           5914
          1                   294            294
2         0                  6584           6584
          1                   292            292
3         0                 13082          13082
          1                   486            486
4         0                 10088          10088
          1                   252            252

[8 rows x 34 columns]

In [88]:
drug_df.groupby(["Importance","MTHFLAG"]).count()

                    TOBFLAG  TOBYR  ALCFLAG  ALCYR  MRJFLAG  MRJYR  COCFLAG  \
Importance MTHFLAG
1          0           5646   5646     5646   5646     5646   5646     5646
           1            279    279      279    279      279    279      279
2          0           5193   5193     5193   5193     5193   5193     5193
           1            257    257      257    257      257    257      257
3          0          12904  12904    12904  12904    12904  12904    12904
           1            468    468      468    468      468    468      468
4          0          11925  11925    11925  11925    11925  11925    11925
           1            320    320      320    320      320    320      320

                    COCYR  CRKFLAG  CRKYR  ...  SEDYR  Drug_Ever_Used  \
Importance MTHFLAG                         ...
1          0         5646     5646   5646  ...   5646            5646
           1          279      279    279  ...    279             279
2          0         5193     5193   5193  ...   5193            5193
           1          257      257    257  ...    257             257
3          0        12904    12904  12904  ...  12904           12904
           1          468      468    468  ...    468             468
4          0        11925    11925  11925  ...  11925           11925
           1          320      320    320  ...    320             320

                    Past_Year_Use  Past_Month_Use  Age_First_Used  \
Importance MTHFLAG
1          0                 5646            5646            5646
           1                  279             279             279
2          0                 5193            5193            5193
           1                  257             257             257
3          0                12904           12904           12904
           1                  468             468             468
4          0                11925           11925           11925
           1                  320             320             320

                    Year_First_Use  Drug_Not_Marij_Ever_Used  Past_12_Months  \
Importance MTHFLAG
1          0                  5646                      5646            5646
           1                   279                       279             279
2          0                  5193                      5193            5193
           1                   257                       257             257
3          0                 12904                     12904           12904
           1                   468                       468             468
4          0                 11925                     11925           11925
           1                   320                       320             320

                    Influence  Friends_Share
Importance MTHFLAG
1          0             5646           5646
           1              279            279
2          0             5193           5193
           1              257            257
3          0            12904          12904
           1              468            468
4          0            11925          11925
           1              320            320

[8 rows x 34 columns]

In [91]:
drug_df.groupby(["Importance","STMFLAG"]).count()

                    TOBFLAG  TOBYR  ALCFLAG  ALCYR  MRJFLAG  MRJYR  COCFLAG  \
Importance STMFLAG
1          0           5168   5168     5168   5168     5168   5168     5168
           1            757    757      757    757      757    757      757
2          0           4786   4786     4786   4786     4786   4786     4786
           1            664    664      664    664      664    664      664
3          0          12269  12269    12269  12269    12269  12269    12269
           1           1103   1103     1103   1103     1103   1103     1103
4          0          11546  11546    11546  11546    11546  11546    11546
           1            699    699      699    699      699    699      699

                    COCYR  CRKFLAG  CRKYR  ...  SEDYR  Drug_Ever_Used  \
Importance STMFLAG                         ...
1          0         5168     5168   5168  ...   5168            5168
           1          757      757    757  ...    757             757
2          0         4786     4786   4786  ...   4786            4786
           1          664      664    664  ...    664             664
3          0        12269    12269  12269  ...  12269           12269
           1         1103     1103   1103  ...   1103            1103
4          0        11546    11546  11546  ...  11546           11546
           1          699      699    699  ...    699             699

                    Past_Year_Use  Past_Month_Use  Age_First_Used  \
Importance STMFLAG
1          0                 5168            5168            5168
           1                  757             757             757
2          0                 4786            4786            4786
           1                  664             664             664
3          0                12269           12269           12269
           1                 1103            1103            1103
4          0                11546           11546           11546
           1                  699             699             699

                    Year_First_Use  Drug_Not_Marij_Ever_Used  Past_12_Months  \
Importance STMFLAG
1          0                  5168                      5168            5168
           1                   757                       757             757
2          0                  4786                      4786            4786
           1                   664                       664             664
3          0                 12269                     12269           12269
           1                  1103                      1103            1103
4          0                 11546                     11546           11546
           1                   699                       699             699

                    Influence  Friends_Share
Importance STMFLAG
1          0             5168           5168
           1              757            757
2          0             4786           4786
           1              664            664
3          0            12269          12269
           1             1103           1103
4          0            11546          11546
           1              699            699

[8 rows x 34 columns]

In [92]:
drug_df.groupby(["Influence","STMFLAG"]).count()

                   TOBFLAG  TOBYR  ALCFLAG  ALCYR  MRJFLAG  MRJYR  COCFLAG  \
Influence STMFLAG
1         0           5401   5401     5401   5401     5401   5401     5401
          1            807    807      807    807      807    807      807
2         0           6115   6115     6115   6115     6115   6115     6115
          1            761    761      761    761      761    761      761
3         0          12454  12454    12454  12454    12454  12454    12454
          1           1114   1114     1114   1114     1114   1114     1114
4         0           9799   9799     9799   9799     9799   9799     9799
          1            541    541      541    541      541    541      541

                   COCYR  CRKFLAG  CRKYR  ...  SEDYR  Drug_Ever_Used  \
Influence STMFLAG                         ...
1         0         5401     5401   5401  ...   5401            5401
          1          807      807    807  ...    807             807
2         0         6115     6115   6115  ...   6115            6115
          1          761      761    761  ...    761             761
3         0        12454    12454  12454  ...  12454           12454
          1         1114     1114   1114  ...   1114            1114
4         0         9799     9799   9799  ...   9799            9799
          1          541      541    541  ...    541             541

                   Past_Year_Use  Past_Month_Use  Age_First_Used  \
Influence STMFLAG
1         0                 5401            5401            5401
          1                  807             807             807
2         0                 6115            6115            6115
          1                  761             761             761
3         0                12454           12454           12454
          1                 1114            1114            1114
4         0                 9799            9799            9799
          1                  541             541             541

                   Year_First_Use  Drug_Not_Marij_Ever_Used  Importance  \
Influence STMFLAG
1         0                  5401                      5401        5401
          1                   807                       807         807
2         0                  6115                      6115        6115
          1                   761                       761         761
3         0                 12454                     12454       12454
          1                  1114                      1114        1114
4         0                  9799                      9799        9799
          1                   541                       541         541

                   Past_12_Months  Friends_Share
Influence STMFLAG
1         0                  5401           5401
          1                   807            807
2         0                  6115           6115
          1                   761            761
3         0                 12454          12454
          1                  1114           1114
4         0                  9799           9799
          1                   541            541

[8 rows x 34 columns]

In [93]:
drug_df.groupby(["Influence","ANLFLAG"]).count()

                   TOBFLAG  TOBYR  ALCFLAG  ALCYR  MRJFLAG  MRJYR  COCFLAG  \
Influence ANLFLAG
1         0           4571   4571     4571   4571     4571   4571     4571
          1           1637   1637     1637   1637     1637   1637     1637
2         0           5218   5218     5218   5218     5218   5218     5218
          1           1658   1658     1658   1658     1658   1658     1658
3         0          11154  11154    11154  11154    11154  11154    11154
          1           2414   2414     2414   2414     2414   2414     2414
4         0           9025   9025     9025   9025     9025   9025     9025
          1           1315   1315     1315   1315     1315   1315     1315

                   COCYR  CRKFLAG  CRKYR  ...  SEDYR  Drug_Ever_Used  \
Influence ANLFLAG                         ...
1         0         4571     4571   4571  ...   4571            4571
          1         1637     1637   1637  ...   1637            1637
2         0         5218     5218   5218  ...   5218            5218
          1         1658     1658   1658  ...   1658            1658
3         0        11154    11154  11154  ...  11154           11154
          1         2414     2414   2414  ...   2414            2414
4         0         9025     9025   9025  ...   9025            9025
          1         1315     1315   1315  ...   1315            1315

                   Past_Year_Use  Past_Month_Use  Age_First_Used  \
Influence ANLFLAG
1         0                 4571            4571            4571
          1                 1637            1637            1637
2         0                 5218            5218            5218
          1                 1658            1658            1658
3         0                11154           11154           11154
          1                 2414            2414            2414
4         0                 9025            9025            9025
          1                 1315            1315            1315

                   Year_First_Use  Drug_Not_Marij_Ever_Used  Importance  \
Influence ANLFLAG
1         0                  4571                      4571        4571
          1                  1637                      1637        1637
2         0                  5218                      5218        5218
          1                  1658                      1658        1658
3         0                 11154                     11154       11154
          1                  2414                      2414        2414
4         0                  9025                      9025        9025
          1                  1315                      1315        1315

                   Past_12_Months  Friends_Share
Influence ANLFLAG
1         0                  4571           4571
          1                  1637           1637
2         0                  5218           5218
          1                  1658           1658
3         0                 11154          11154
          1                  2414           2414
4         0                  9025           9025
          1                  1315           1315

[8 rows x 34 columns]

In [94]:
drug_df.groupby(["Influence","HALFLAG"]).count()

                   TOBFLAG  TOBYR  ALCFLAG  ALCYR  MRJFLAG  MRJYR  COCFLAG  \
Influence HALFLAG
1         0           4450   4450     4450   4450     4450   4450     4450
          1           1758   1758     1758   1758     1758   1758     1758
2         0           5292   5292     5292   5292     5292   5292     5292
          1           1584   1584     1584   1584     1584   1584     1584
3         0          11383  11383    11383  11383    11383  11383    11383
          1           2185   2185     2185   2185     2185   2185     2185
4         0           9330   9330     9330   9330     9330   9330     9330
          1           1010   1010     1010   1010     1010   1010     1010

                   COCYR  CRKFLAG  CRKYR  ...  SEDYR  Drug_Ever_Used  \
Influence HALFLAG                         ...
1         0         4450     4450   4450  ...   4450            4450
          1         1758     1758   1758  ...   1758            1758
2         0         5292     5292   5292  ...   5292            5292
          1         1584     1584   1584  ...   1584            1584
3         0        11383    11383  11383  ...  11383           11383
          1         2185     2185   2185  ...   2185            2185
4         0         9330     9330   9330  ...   9330            9330
          1         1010     1010   1010  ...   1010            1010

                   Past_Year_Use  Past_Month_Use  Age_First_Used  \
Influence HALFLAG
1         0                 4450            4450            4450
          1                 1758            1758            1758
2         0                 5292            5292            5292
          1                 1584            1584            1584
3         0                11383           11383           11383
          1                 2185            2185            2185
4         0                 9330            9330            9330
          1                 1010            1010            1010

                   Year_First_Use  Drug_Not_Marij_Ever_Used  Importance  \
Influence HALFLAG
1         0                  4450                      4450        4450
          1                  1758                      1758        1758
2         0                  5292                      5292        5292
          1                  1584                      1584        1584
3         0                 11383                     11383       11383
          1                  2185                      2185        2185
4         0                  9330                      9330        9330
          1                  1010                      1010        1010

                   Past_12_Months  Friends_Share
Influence HALFLAG
1         0                  4450           4450
          1                  1758           1758
2         0                  5292           5292
          1                  1584           1584
3         0                 11383          11383
          1                  2185           2185
4         0                  9330           9330
          1                  1010           1010

[8 rows x 34 columns]

In [95]:
drug_df.groupby(["Importance","HALFLAG"]).count()

                    TOBFLAG  TOBYR  ALCFLAG  ALCYR  MRJFLAG  MRJYR  COCFLAG  \
Importance HALFLAG
1          0           4308   4308     4308   4308     4308   4308     4308
           1           1617   1617     1617   1617     1617   1617     1617
2          0           4074   4074     4074   4074     4074   4074     4074
           1           1376   1376     1376   1376     1376   1376     1376
3          0          11117  11117    11117  11117    11117  11117    11117
           1           2255   2255     2255   2255     2255   2255     2255
4          0          10956  10956    10956  10956    10956  10956    10956
           1           1289   1289     1289   1289     1289   1289     1289

                    COCYR  CRKFLAG  CRKYR  ...  SEDYR  Drug_Ever_Used  \
Importance HALFLAG                         ...
1          0         4308     4308   4308  ...   4308            4308
           1         1617     1617   1617  ...   1617            1617
2          0         4074     4074   4074  ...   4074            4074
           1         1376     1376   1376  ...   1376            1376
3          0        11117    11117  11117  ...  11117           11117
           1         2255     2255   2255  ...   2255            2255
4          0        10956    10956  10956  ...  10956           10956
           1         1289     1289   1289  ...   1289            1289

                    Past_Year_Use  Past_Month_Use  Age_First_Used  \
Importance HALFLAG
1          0                 4308            4308            4308
           1                 1617            1617            1617
2          0                 4074            4074            4074
           1                 1376            1376            1376
3          0                11117           11117           11117
           1                 2255            2255            2255
4          0                10956           10956           10956
           1                 1289            1289            1289

                    Year_First_Use  Drug_Not_Marij_Ever_Used  Past_12_Months  \
Importance HALFLAG
1          0                  4308                      4308            4308
           1                  1617                      1617            1617
2          0                  4074                      4074            4074
           1                  1376                      1376            1376
3          0                 11117                     11117           11117
           1                  2255                      2255            2255
4          0                 10956                     10956           10956
           1                  1289                      1289            1289

                    Influence  Friends_Share
Importance HALFLAG
1          0             4308           4308
           1             1617           1617
2          0             4074           4074
           1             1376           1376
3          0            11117          11117
           1             2255           2255
4          0            10956          10956
           1             1289           1289

[8 rows x 34 columns]

In [96]:
drug_df.groupby(["Importance","ALCFLAG"]).count()

                    TOBFLAG  TOBYR  ALCYR  MRJFLAG  MRJYR  COCFLAG  COCYR  \
Importance ALCFLAG
1          0            607    607    607      607    607      607    607
           1           5318   5318   5318     5318   5318     5318   5318
2          0            416    416    416      416    416      416    416
           1           5034   5034   5034     5034   5034     5034   5034
3          0           1399   1399   1399     1399   1399     1399   1399
           1          11973  11973  11973    11973  11973    11973  11973
4          0           2312   2312   2312     2312   2312     2312   2312
           1           9933   9933   9933     9933   9933     9933   9933

                    CRKFLAG  CRKYR  HERFLAG  ...  SEDYR  Drug_Ever_Used  \
Importance ALCFLAG                           ...
1          0            607    607      607  ...    607             607
           1           5318   5318     5318  ...   5318            5318
2          0            416    416      416  ...    416             416
           1           5034   5034     5034  ...   5034            5034
3          0           1399   1399     1399  ...   1399            1399
           1          11973  11973    11973  ...  11973           11973
4          0           2312   2312     2312  ...   2312            2312
           1           9933   9933     9933  ...   9933            9933

                    Past_Year_Use  Past_Month_Use  Age_First_Used  \
Importance ALCFLAG
1          0                  607             607             607
           1                 5318            5318            5318
2          0                  416             416             416
           1                 5034            5034            5034
3          0                 1399            1399            1399
           1                11973           11973           11973
4          0                 2312            2312            2312
           1                 9933            9933            9933

                    Year_First_Use  Drug_Not_Marij_Ever_Used  Past_12_Months  \
Importance ALCFLAG
1          0                   607                       607             607
           1                  5318                      5318            5318
2          0                   416                       416             416
           1                  5034                      5034            5034
3          0                  1399                      1399            1399
           1                 11973                     11973           11973
4          0                  2312                      2312            2312
           1                  9933                      9933            9933

                    Influence  Friends_Share
Importance ALCFLAG
1          0              607            607
           1             5318           5318
2          0              416            416
           1             5034           5034
3          0             1399           1399
           1            11973          11973
4          0             2312           2312
           1             9933           9933

[8 rows x 34 columns]